/* 热歌榜 */
.bg-hottop {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 9.2rem;
    padding-left: 20px;
    background-size: contain;
    background: url(../images/sprite-cover.png) no-repeat;
    background-position: -280px -20px;
}

.bg-hottop::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.bg-hottop>.hoticon {
    width: 141px;
    height: 71px;
    z-index: 1;
    background-position: -24px -30px;
    background-size: 166px 97px;
    background: url(../images/sprite.png) no-repeat;
    margin-left: -6px;
}

.bg-hottop>.hottime {
    margin-top: 10px;
    font-size: 12px;
    color: #fffc;
    z-index: 1;
}

.song-list>.item-common {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    border: none;
}

.song-list>.item-common>.order {
    color: #d43c33;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    font-size: 17px;
    font-family: Helvetica, sans-serif;
}

.song-list>.item-common>.anotherOrder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    color: #999999;
    font-size: 17px;
    font-family: Helvetica, sans-serif;
}

.song-list>.item-common>.song-wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.song-list>.item-common>.song-wrapper>.song-info>.song {
    line-height: 25.5px;
    font-size: 17px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.song-list>.item-common>.song-wrapper>.song-info>.singer {
    display: flex;
    align-items: center;
    line-height: 18px;
    font-size: 12px;
    color: #888888;
}

.song-list>.item-common>.song-wrapper>.song-info>.singer>.SQsvg {
    padding-right: 5px;
    width: 17px;
    font-weight: bold;
}

.song-list>.item-common>.song-wrapper>.playsvg svg {
    height: 22px;
    padding-left: 15px;
}

.tip {
    padding: 20px 0;
    color: #999999;
    text-align: center;
    font-size: 14px;
}
