*{ margin: 0; padding: 0; box-sizing: border-box; }
*::before, *::after{ box-sizing: border-box; }
ul,ol{ list-style: none; }
h1,h2,h3{font-weight: normal;}

.icon {
    width: 4.5em; height: 1.5em;
    vertical-align: -0.15em;
    fill: currentColor;
    color: #777;
}

body{ font-size: 3.7vw; }

section>h2:first-child{ font-size: 4.53vw; border-left: 2px solid #d33a31; margin: 4vw 0; font-weight: normal; padding-left: 2.6vw; line-height: 1; }

.topbar{ background: #d43c33; padding: 4.5vw 2.5vw; display: flex; align-items: center; justify-content: space-between; }
.topbar .logo{ width: 38vw; }
.topbar .downloadApp{ line-height: 7.5vw; border: 1px solid white; border-radius: 4.25vw; display: block; color: white; text-decoration: none; padding: 0 .5em; }

.siteNav{}
.siteNav > ol{ display:flex; text-align: center; border-bottom: 1px solid #ccc; font-size: 1.1em; }
.siteNav > ol > li{ flex: 1; }
.siteNav > ol > li.active{ color: #d33a31; }
.siteNav > ol > li> span{ height: 10vw; line-height: 11vw; display: inline-block; position: relative; padding: 0 5px;}
.siteNav > ol > li.active> span::after{ content: ''; position: absolute; bottom: 0; border-top: 2px solid #d33a31; left: 0; width: 100%;}

.tabContent > li {display: none;}
.tabContent > li.active { display: block; }

.playlists{ margin-top: 5.5vw; }
.playlists > ul{ display: flex; flex-wrap: wrap; justify-content: space-between; font-size: 0.93em; }
.playlists > ul img{ width: 100%; }
.playlists > ul > li{ width: calc(33.333333% - 1vw); margin-bottom: 4vw; }
.playlists > ul li p{ padding: 0 1vw; line-height: 4vw; height: 8vw; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;}

.lastestMusic{}
.lastestMusic > p { text-align: center; }
.lastestMusic > ol{padding-left: calc(2.6vw + 2px);}
.lastestMusic > ol > li{border-bottom: 1px solid #e2e2e3; padding: 1vw 0; position: relative;}
.lastestMusic > ol > li a{ text-decoration: none; color: inherit; }
.lastestMusic > ol > li h3{font-size: 4.53vw;}
.lastestMusic > ol > li p{font-size: 3.2vw; color: #888; line-height: 1; display: flex; align-items: center; }
.lastestMusic > ol > li svg.play{ width: 5.9vw; height: 5.9vw; position: absolute; right: 4vw; top: 50%; transform: translateY(-50%); fill: #aaaaaa;}
.lastestMusic > ol > li svg.sq{ width: 4.2vw; height: 4.2vw; margin-right: 0.5em; fill: #fe672e;}

section.art{ background: transparent url(http://s3.music.126.net/m/s/img/recommand_bg_2x.png?d045fafc60e017b653f8065a87496922) no-repeat center; padding-top: 17.6vw; padding-bottom: 5vw; }
section.art .logo{ text-align: center; }
section.art .logosvg{ width: 61.7vw; }
section.art .openApp{ display:block; max-width: 81.3vw; padding: 1vw 0; margin: 0 auto; text-align: center; color: #d43c33; border: 1px solid; font-size: 4.3vw; text-decoration: none; line-height: 8.6vw; border-radius: 5.3vw; margin-bottom: 1vw; margin-top: 3vw;}
section.art .copyright{ font-size: 3.2vw; transform: scale(.75); text-align: center; color: #888;}

/* 热歌榜 */
.bg-hottop{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 9.2rem;
    padding-left: 20px;
    background-size: contain;
    background: url(../images/sprite-cover.png) no-repeat;
    background-position: -280px -20px;
}

.bg-hottop::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.bg-hottop > .hoticon{
    width: 142px;
    height: 67px;
    z-index: 1;
    background-position: -24px -30px;
    background-size: 166px 97px;
    background: url(../images/sprite.png) no-repeat;
}

.bg-hottop > .hottime{
    margin-top: 10px;
    font-size: 12px;
    color: #fffc;
    z-index: 1;
}

.song-list > .item-common{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    border: none;
}

.song-list > .item-common > .order{
    color: #d43c33;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    font-size: 17px;
    font-family: Helvetica, sans-serif;
}

.song-list > .item-common > .anotherOrder{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    color: #999999;
    font-size: 17px;
    font-family: Helvetica, sans-serif;
}

.song-list > .item-common > .song-wrapper{
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.song-list > .item-common > .song-wrapper > .song-info > .song{
    line-height: 25.5px;
    font-size: 17px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.song-list > .item-common > .song-wrapper > .song-info > .singer{
    display: flex;
    align-items: center;
    line-height: 18px;
    font-size: 12px;
    color: #888888;
}

.song-list > .item-common > .song-wrapper > .song-info > .singer > .SQsvg{
    padding-right: 5px;
    width: 17px;
    font-weight: bold;
}

.song-list > .item-common > .song-wrapper > .playsvg svg{
    height: 22px;
    padding-left: 15px;
}

.tip{
    padding: 20px 0;
    color: #999999;
    text-align: center;
    font-size: 14px;
}

/* 搜索tab */
.searchArea{
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchArea > .iconSearch{
    box-sizing: border-box;
    margin: 4px -26px 0 0;
    z-index: 1;
}

.searchArea > label{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px;
    margin-top: -25px;
}

.searchArea > label > input{
    padding: 0 30px;
    width: 100%;
    height: 30px;
    color: #333;
    font-size: 14px;
    background: #ebecec;
    border: none;
    border-radius: 15px;
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    z-index: -1;
}

.top-search > .title{
    position: relative;
    padding: 10px 0 10px 8px;
    font-size: 17px;
}

.top-search > .title::after{
    content: '';
    display: block;
    position: absolute;
    top: calc(50% - 8px);
    left: 0;
    width: 2px;
    height: 16px;
    font-size: 17px;
    background: #d43c33;
}

.top-search-sample{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 5px;
}

.top-search-sample > li{
    margin: 5px;
    padding: 8px 12px;
    line-height: 14px;
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}